.keyboard
    height auto
    width auto
    width 150px
    margin 10px auto
#top > .keyboard
    height 0
    width 0
    margin 0
    padding 0
    overflow hidden
    text-decoration none
    &:focus
        height auto
        width auto
        width 150px
        margin 10px auto 0
        padding 1em
#bottom > .keyboard
    padding 1em
    margin 20px auto