<header role='banner' id='top'>
    <a class='keyboard button-jump' href='#content'>Skip to content</a>
    <a class='logo' href='/'><% if (theme.logo) { %><img src='<%= theme.logo %>' /><% } %><span id='title'><%= config.title %></span></a>
    <span id='subtitle'><%= config.subtitle %></span>
</header>