// TYPOGRAPHY
scale = 1.33

// SITE COLORS
// grayscale
black = #000000
charcoal = #1f1b19
graphite = #4c4947
ash = #c4bebc
smoke = #e2dfdd
paper = #fafaf7
white = #ffffff
// main color
brass = #d1b966
gold = #bd9b16
bronze = #8e7410
// accent 1
cyan = #6ab5ba
teal = #07838c
ocean = #054b4c
// accent 2
rose = #b0679a
berry = #7b0256
wine = #520139

// MEDIA QUERIES
break-tablet = 'screen and (min-width: 45rem)'
break-small = 'screen and (min-width: 65rem)'
break-normal = 'screen and (min-width: 70rem)'